@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); // importing the font used for the website
:root {
	--dark-blue: #13587c;
	--dark-bg: #202124;
	--light-blue: #01abfe;
	--light-green: #0f6;
	--dark-green: #0b3;
	--red: #f03;
	--gray: #575758;
	--font: Inter; // setting default colours and font, allowing for them to be easily changed as they don't need to be repeated

	// the settings below form part of the default CSS configuration when you set up a React application as they ensure that
	// the website can be rendered on all devices and browsers, if they don't support things such as outside fonts
	font-family: var(--font), -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif; // ensuring there will always be a fallback font in case the imported one doesn't work
	line-height: 1.5;
	font-weight: 400; // default font settings

	background-color: var(--dark-bg);
	color-scheme: light dark; // the website can be viewed in dark mode or light mode
	color: #fff;

	font-synthesis: none; // browser configuration information for the website
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

.app {
	font-family: var(--font);
	min-height: 100vh; // 100vh means it will fill the whole screen's height (vh = view height)
	height: fit-content;
	min-width: 90vw; // 90vw means it will fill 90% of the screen's width (vw = view width)
	justify-content: center; // align to centre of the page
	text-align: center;
	word-wrap: break-word; // if the text is too long it wraps onto the next line
	.content {
		margin-bottom: 1vh; // if the content is longer than the page, this adds some space between the bottom of the page and the content
		width: 60%;
		margin-left: auto; // centres content on the page
		margin-right: auto;
		min-height: 84vh; // accounts for height of navbar
		display: flex;
		flex-direction: column;
		justify-content: center;

		button {
			// only styles the button within the content class so as not to interfere with navbar
			width: fit-content;
			padding: 0.5rem;
			margin: 0.2rem;
			height: fit-content;
			font-size: large;
			border: none;
			border-radius: 0.375rem;
			background-color: var(--dark-blue);
			color: #fff;
			margin-left: auto;
			margin-right: auto;
		}

		button:disabled {
			// button for when it is not accessible
			background-color: red;
			color: #fff8;
			cursor: not-allowed;
		}

		button.red-button {
			// red button
			background-color: red;
		}
	}

	.nav {
		// the styles for the nav bar
		text-align: left;
		font-family: var(--font);
		height: 8vh;
		width: 100%;
		color: #fff;
		background-color: var(--dark-blue);

		// style based on active, hovered or normal
		a {
			color: #fffa !important;
		}

		a.active {
			color: #fff !important;
		}

		a:hover {
			color: #fffd !important;
		}
	}

	form.styled-form {
		// styles the form to not take up the whole width of the page
		width: 50vw;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
		display: grid;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"] {
		// creates a neater, streamlined look for the input boxes
		width: 100%;
		padding: 0.625rem 1.25rem;
		margin: 0.5rem 0;
		display: inline-block;
		box-sizing: border-box;
		border: solid var(--dark-blue) 0.125rem;
		border-radius: 0.375rem;
		background-color: var(--dark-blue);
		color: var(--white);
	}

	label {
		// so the label isn't next to the input
		display: block;
	}

	input::placeholder {
		// The colour of the text inside the input before you type
		color: #fff7;
	}

	input:read-only {
		// grey out a read only input
		background-color: var(--gray);
		border: var(--gray);
	}
	form.password-generator {
		// layout for the form to generate a password
		text-align: left;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		label {
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 1.1;
			display: grid;
			// ensure there is enough space for a checkbox
			grid-template-columns: 1.5rem auto;
			gap: 0.5rem;
			padding: 0.00625rem 0;
		}

		label.slider {
			// give enough space for a slider
			grid-template-columns: 12.5rem auto;
		}
	}

	h2.generator {
		// fixes margins on the password generator page
		margin: 0.5rem;
	}
	div.buttons {
		// Makes buttons go next to each other
		display: flex;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		button {
			margin: 0.2rem;
		}
	}

	div.grid {
		// grid layout for having 2 or more divs on the same row
		display: grid;
		color: white;
		grid-template-columns: 1fr 1fr;
		text-align: justify;
		p {
			margin-bottom: 0.25rem;
		}
		div {
			// styles for the div to have some contrast against the page
			color: white !important;
			margin: 0.25rem;
			padding: 0.625rem;
			border-radius: 0.625rem;
			background-color: #2a2a2aaa;
			input {
				width: 100%;
			}
		}

		div.full-length {
			// a in the grid that takes up all the length
			grid-column: 1 / -1;
		}
		div.right {
			// So there is no margin on the right for the right-most div
			margin-right: 0;
		}
		div.left {
			// So there is no margin on the left for the left-most div
			margin-left: 0;
		}
		div.image-center {
			// centers an image within a div
			padding: 0;
			background-color: #fff0;
			text-align: center !important;
		}
	}
	img.qrcode {
		// styles for the QR code
		text-align: center;
		width: 14rem;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: 64rem) {
		// modifies styles for mobile devices
		width: 100vw;
		.content {
			// make the content fill most of the screen rather than a portion
			width: 97vw;
			min-height: 85vh;
		}

		.nav {
			// doesn't limit navbar height as it expands with responsive design
			height: fit-content;
		}

		.brand {
			// get rid of the logo in the navbar
			display: none;
		}

		// makes the form longer
		form.styled-form {
			width: 90vw;
		}
		div.grid {
			// makes the grid only show one element per row
			grid-template-columns: 1fr !important;

			div {
				margin: 0.25rem 0;
			}
			// as there is only one div per row, the right and left margins are not needed
			div.right {
				margin-right: 0;
			}
			div.left {
				margin-left: 0;
			}
		}
		// make QR code take up most of the screen
		img.qrcode {
			width: 50vw;
		}
	}
}

.app.dark {
	// dark mode theme
	background-color: var(--dark-bg);
	color: white;
	.green {
		color: var(--light-green);
	}
	hr {
		border-top: 2px dashed white;
	}
}
.app.light {
	// light mode theme
	background-color: #fff;
	.green {
		color: var(--dark-green);
	}
	form {
		input {
			color: #fff !important;
		}
	}
	div.grid {
		div {
			background-color: var(--dark-bg);
		}
	}
	hr {
		border-top: 2px dashed var(--dark-bg);
	}
}

a,
a:not([href]),
a:not([class]) {
	// styles for links, including links without a destination but a function instead
	color: var(--light-blue) !important;
	cursor: pointer !important;
	text-decoration: none !important;
}

.logo {
	// logo styling
	height: 10rem;
	padding: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

.not-found {
	text-align: center;
}

.red {
	color: var(--red);
}

.justify {
	text-align: justify;
}

// default p and h1 styles
h1 {
	text-align: center;
	font-weight: 800;
}

p {
	font-size: large;
	margin-bottom: 0.25rem;
}
